.vv{
    background-color: gray;
    width: 80%;
    margin-left: 10%;
    overflow-y: scroll;
    height: 600px;
}
.content{
    border: 2px solid aqua;
    margin: 20px;
    padding: 20px;
    width: 78%;
    margin-left: 10%;
   background-color: gray;

}

.ded{
    display: flex;
}

.btn{
     height: 30px;
    padding: 15px;
}

.bb{
    display: flex;
    justify-content: space-between;
}

